html, body {
    font-family: 'Meiryo UI', cursive;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 16pt;
    text-align: center;
    line-height: 50px;
}

.FaqContents img {
    width: 100%;
    height: 100%; 
}

.FaqContents {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

.MsgFaq {
    height: 450px;
}