* {
    padding: 0;
    margin: 0;    
}

#HeaderWrapper {
    width: 100%;
    height: auto;
    position: fixed;
    overflow: hidden;
    background-color:white; /*#0f4c81;*/
    opacity: 0.9;
}

.HeaderLeft {
    width: 60%;
    height: auto;
    float: left;
}

.HeaderLeft img {
    margin: 5px;
    width: 100px;
    height: auto;
}

.HeaderRight {
    width: 40%;
    height: auto;
    float: right;
}

.HeaderMenu ul {
    margin: 15px 10px 20px 0;
    overflow: hidden;
    list-style: none;
    font-size: 12pt;
    text-align: center;
}

.HeaderMenu li {
    margin: 0 0 0 20px;
    float: left; 
    height: auto;
}

.HeaderMenu a {
    text-decoration: none;
    color:black;
}

.HeaderMenu a:hover {
    color:darkslategray;
}