body{
	font-family: 'Meiryo UI', cursive;
    padding: 0;
    margin: 0;
    border: none;

}

.HeaderWrapper{
    position: fixed;
    background-color:#0f4c81;
    width: 100%;
    height: 50px;
}

.Logo{
	font-family: 'Comic Sans MS', cursive;
	font-size: 18px;
    margin: 0;
    padding: 0;
    width: 65%;
    float: left;
}

.Logo img{
    margin: 0 3px;
    padding: 3px; 
    object-fit: cover;
    width: 90px;
    height: auto;
}

.Logo a{
    text-decoration: none;
    color: white;
}

.Logo h1{
    margin: 0;
    padding: 10px 20px;
}


.Menu{
    display: inline-block;
    width:35%;
    height: 30px;
    font-size: 16px;
}

.Menu ul{
    margin: 0; 
    padding: 0;
    text-align: right;
    background-color: green;
    
}

.Menu li{
    margin: 10px 40px 0 5px;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /*display: inline-block;*/
    float: left;
    color: white;
    font-weight:bold;

}

.Menu a:hover{
    border-bottom: 2px  white  solid;
    color:white;
    font-size: 16px;
}



.MainWrapper iframe{
    width: 100%;
    height: 2500px;
    border: none;
}


/* フッターの設定 */
.FooterWrapper{
    background-color: #0f4c81;
    width: 100%;
    height: 400px;
}

.FooterMenu_Logo{
    color: white;
    margin: 0;
    padding: 0;
    width: 40%;
    float: left;
}

.FooterMenu_Logo ul{
    margin: 0;
    padding: 0;
    height: 400px;
    text-align: left;
    background-color: #0f4c81;  
}

.FooterMenu {
    display: inline-block;
    width:60%;
    height: 400px;
    font-size: 16px;
}

.FooterMenu_AboutDSC ul,
.FooterMenu_Work ul,
.FooterMenu_Recruit ul,
.FooterMenu_FAQ ul{
    width:25%;
    height: 400px;
    margin: 0; 
    padding: 1px;
    background-color:aqua;
}

/*
.FooterMenu_Work ul {
    width:25%;
    height: 400px;
    margin: 0; 
    padding: 1px;
    background-color:antiquewhite;
}

.FooterMenu_Recruit ul {
    width:25%;
    height: 400px;
    margin: 0; 
    padding: 1px;
    background-color:beige; 
}

.FooterMenu_FAQ ul{
    width:25%;
    height: 400px;
    margin: 0; 
    padding: 1px;
    background-color:blue;
}
*/

.FooterMenu_AboutDSC li,
.FooterMenu_Work li,
.FooterMenu_Recruit li, 
.FooterMenu_FAQ li{
    margin: 10px 40px 0 5px;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: left;

}

.FooterMenu_AboutDSC a:hover,
.FooterMenu_Work a:hover,
.FooterMenu_Recruit a:hover,
.FooterMenu_FAQ a:hover{
    border-bottom: 2px  white  solid;
    color:white;
}

.FooterTitle{
    height: 30px;
    padding: 5px;
    text-align: center;
    background-color: #0f4c81;
    color: white;
}





