html, body {
	font-family: 'Meiryo UI', cursive;
    padding: 0;
    margin: 0;
    border: none;
    height: 5000px;
}

#HeaderWrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    overflow: hidden;
    background-color:white; /*#0f4c81;*/
    opacity: 0.9;
}

.HeaderLeft {
    width: 20%;
    height: 50px;
    float: left;
}

.HeaderLeft img {
    margin: 5px;
    padding: 0;
    width: 100px;
    height: 40px;
}

.HeaderLeft ul {
    list-style: none;
}

.HeaderRight {
    width: 80%;
    height: 50px;
    float: right;
}

.HeaderRight ul {
    list-style: none;
    float: right;
}

#btnAboutDSC,
#btnWork,
#btnRecruit,
#btnFaq {
    margin: 0;
    padding: 0 10px 0 10px;
    position: relative;
    width: 100px;
    height: 20px;
    font-size: 12pt;
    color: black; /*white;*/
    text-align: center;
    float: left;
}

#btnAboutDSC input,
#btnWork input,
#btnRecruit input,
#btnFaq input {
    display: none;
}

.HeaderSubMenu-AboutDSC,
.HeaderSubMenu-Work,
.HeaderSubMenu-Recruit,
.HeaderSubMenu-Faq {
    text-align: left;
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
    
}

#btnAboutDSC input:checked ~ .HeaderSubMenu-AboutDSC,
#btnWork input:checked ~ .HeaderSubMenu-Work,
#btnRecruit input:checked ~ .HeaderSubMenu-Recruit,
#btnFaq input:checked ~ .HeaderSubMenu-Faq {
    padding: 10px 0;
    width: 200px;
    height: auto;
    opacity: 1;
    background-color: aqua;
}

#btnAboutDSC label::before,
#btnWork label::before,
#btnRecruit label::before,
#btnFaq label::before,
#btnAboutDSC label::after,
#btnWork label::after,
#btnRecruit label::after,
#btnFaq label::after {
    border-bottom: 1px black /*white*/ solid;
    bottom: -5px;
    content: "";
    position: absolute;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    width: 0;
}

#btnAboutDSC label::before,
#btnWork label::before,
#btnRecruit label::before,
#btnFaq label::before {
    left: 50%;
}

#btnAboutDSC label::after,
#btnWork label::after,
#btnRecruit label::after,
#btnFaq label::after {
    right: 50%;
}

#btnAboutDSC label:hover::before,
#btnWork label:hover::before,
#btnRecruit label:hover::before,
#btnFaq label:hover::before,
#btnAboutDSC label:hover::after,
#btnWork label:hover::after,
#btnRecruit label:hover::after,
#btnFaq label:hover::after {
    width: 50%;
}


#MainWrapper {
    width: 100%;
    height: 5000px;
}

.MainContents iframe {
    margin: 0;
    width: 100%;
    height: 5000px;
    border: none;    
}
.MainFrame iframe{

}

#FooterWrapper {
    width: 100%;
    height: 300px;
    border-top: 0.1px gray solid;
}

.FooterLeft {
    width: 40%;
    height: 250px;
    float: left;
    list-style: none;
}

.FooterLeft ul {
    margin: 20px 0 0 20px;
    list-style: none;
}

.FooterRight {
    width: 60%;
    height: 250px;
    float: right;
}

.FooterRight ul {
    list-style: none;
    float: left;
}

.FooterMenu {
    width: 100%;
    height: 10%;
    font-size: 12pt;
}

.FooterMenu li {
}

#FooterMenu-AboutDSC,
#FooterMenu-Work,
#FooterMenu-Recruit,
#FooterMenu-Faq {
    width: 25%;
    display: inline-block;
    float: left;
}

#FooterMenu-AboutDSC ul,
#FooterMenu-Work ul,
#FooterMenu-Recruit ul,
#FooterMenu-Faq ul {
    margin: 20px 0 10px 0;
    padding: 0;
}

#FooterMenu-AboutDSC li:hover,
#FooterMenu-Work li:hover,
#FooterMenu-Recruit li:hover,
#FooterMenu-Faq li:hover {
    color: red;
    border-bottom: 0.5px red solid;
}

.FooterSubMenu {
    width: 100%;
    height: 90%;
    font-size: 10pt;
}

#FooterSubMenu-AboutDSC,
#FooterSubMenu-Work,
#FooterSubMenu-Recruit,
#FooterSubMenu-Faq {
    width: 25%;
    display: inline-block;
    float: left;
}

#FooterSubMenu-AboutDSC ul,
#FooterSubMenu-Work ul,
#FooterSubMenu-Recruit ul,
#FooterSubMenu-Faq ul {
    margin: 0 0 0 10px;
    padding: 0;
}


#FooterSubMenu-AboutDSC li,
#FooterSubMenu-Work li,
#FooterSubMenu-Recruit li,
#FooterSubMenu-Faq li {
    margin: 0;
    padding: 0;
}

#FooterSubMenu-AboutDSC li:hover,
#FooterSubMenu-Work li:hover,
#FooterSubMenu-Recruit li:hover,
#FooterSubMenu-Faq li:hover {
    color: red;
}

.FooterBottom {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    text-align: center;
}

.FooterBottom ul {
    list-style: none;
}