::-webkit-scrollbar {
    width: 0px;
}

html, body {
    font-family: 'Meiryo UI', cursive;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 16pt;
    text-align: center;
    line-height: 50px;
}

.AboutContents {
    position: relative;
    width: 100%;
    height: 100%;    
}

@keyframes displayVisible {
    from {
        opacity: 0;
        visibility: hidden;
    }
    
    to {
        opacity: 1;
        visibility: visible;
    }
}

.AboutPic {
    margin: 0;
    position: fixed;
    z-index: -1;
}

.AboutPic img {
    animation-name: displayVisible;
    animation-duration: 3s;
}

.AboutPic img,
.WorkContents img,
.RecruitContents img,
.FaqContents img {
    width: 100%;
    height: 100%; 
}

.MsgAbout {
    margin: -250px 0 0 0;
    position: absolute;
    width: 100%;
    height: 700px;
    Top: 1000px;
    background-color: white;
    animation-name: slideInRight;
    animation-duration: 5s;
}

.ConAbout {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    top: 1450px;
    text-align: center;
    background-color: white;
    animation-name: slideInRight;
    animation-duration: 5s;
}

.WorkContents,
.RecruitContents,
.FaqContents {
    position: relative;
    top: 1550px;
    width: 100%;
    height: 100%;
    background-color: white;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-300%);
        visibility: hidden;
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

.WorkContents img {
    animation-name: displayVisible;
    animation-duration: 3s;
}

.MsgWork,
.ConWork {
    animation-name: slideInLeft;
    animation-duration: 5s;    
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(300%);
        /*visibility: hidden;*/
    }
    
    to {
        opacity: 1;
        transform: translateX(0);
        /*visibility: visible;*/
    }
}

.RecruitContents img {
    animation-name: displayVisible;
    animation-duration: 3s;
}

.MsgRecruit,
.ConRecruit {
    animation-name: slideInRight;
    animation-duration: 5s;
}

.FaqContents img {
    animation-name: displayVisible;
    animation-duration: 3s;
}

.MsgFaq,
.ConFaq {
    animation-name: slideInLeft;
    animation-duration: 5s;   
}

.MsgWork,
.MsgRecruit, 
.MsgFaq {
    height: 700px;
}

.ConWork,
.ConRecruit,
.ConFaq {
    height: 100px;
}

.ConAbout li,
.ConWork li,
.ConRecruit li,
.ConFaq li {
    position: relative;
    display: inline-block;
    padding: 0;
}

.ConAbout a,
.ConWork a,
.ConRecruit a,
.ConFaq a {
    text-decoration: none;
    color: black;
}

.ConAbout li::before,
.ConWork li::before,
.ConRecruit li::before,
.ConFaq li::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 1px;
    top:calc(100% - 10px);
    border-radius: 3px;
    background: black;
    transition: .2s;
}

.ConAbout li:hover::before,
.ConWork li:hover::before,
.ConRecruit li:hover::before,
.ConFaq li:hover::before {
    width: 100%;
}
