html, body {
    font-family: 'Meiryo UI', cursive;
    padding: 0;
    margin: 0;
    border: none;
    font-size: 16pt;
    text-align: center;
    line-height: 50px;
}


#HeaderWrapper {
  width: 100%;
  height: 300px;
  border: none;
  position: fixed;
  z-index: 1;
}

#HeaderWrapper iframe {
    width: 100%;
    height: 50px;
    height: 300px;
    border: none;
}

#FooterWrapper {
  width: 100%;
  height: 300px;
  border: none;
  position:relative
}

#FooterWrapper iframe{
    width: 100%;
    height: 300px;
    border: none;
}


.WorkContents {
    width: 100%;
    height: 100%;
    background-color: white;
}

.WorkContents img {
    width: 100%;
    height: 100%; 
}

.WorkContents imgTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin:0;
    padding:0;
}

.MsgWork {
    height: 450px;
}